Pillow
PyYAML
requests
boto3
addict
future
insightface>=0.7.3
lmdb
lpips
numpy
onnx==1.17.0
onnxruntime
opencv-python
protobuf
scikit-image
scipy
torch
torchvision
tqdm
yapf
python-dotenv
runpod==1.7.13
pytest>=8.4.2
pytest-cov>=7.0.0
pytest-mock>=3.15.1
